[submodule "submodule/H264BSAnalyzer"]
	path = submodule/H264BSAnalyzer
	url = https://github.com/shihuade/H264BSAnalyzer.git
[submodule "submodule/digital_video_introduction"]
	path = submodule/digital_video_introduction
	url = https://github.com/shihuade/digital_video_introduction.git
[submodule "submodule/hevcesbrowser"]
	path = submodule/hevcesbrowser
	url = https://github.com/shihuade/hevcesbrowser.git
[submodule "submodule/JM18EncoderLogExtractor"]
	path = submodule/JM18EncoderLogExtractor
	url = https://github.com/shihuade/JM18EncoderLogExtractor.git
[submodule "submodule/fft-noise-removal-sh"]
	path = submodule/fft-noise-removal-sh
	url = https://github.com/caiosba/fft-noise-removal-sh.git
